body{
    ;
}
a{
    text-decoration: none;
}

body{
    font-family: open sans, sans-serif;
}

#wrapper{
    max-width:940px;
    margin: 0 auto;
    padding:0 5%;
}



img{
    max-width: 100%;
    
    header{
        
       float:left;
       margin: 0 0 30px  o;
       padding:5x 0 0 0;
       width:100;
    }
    
}

#logo{
    text-align: center;
    margin: 0;
}
h1{
   font-family: 'Dhurjati', sans-serif;
   margin: 15px 0;
   font-size: 1.75em;
}

h2{
    font-size: 0.75em;
    margin: -15px 0 0;
    font-weight: normal;
}

nav{
    text-align: center;
    padding: 10% 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding:10px 0;
    margin: 0 10px;
}

nava{
    font-weight: 800;
    padding: 15px 10px;
}


navli{
    display:inline-block;
}

       

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear:both;
}

.social-media-icon{
    width:20px;
    height:20px;
    margin:0 5px;
}

#gallery{
    margin:0;
    padding:0;
    list-style: none;
}


gallery li{
    float: left;
    width: 45%;
    margin:2.5%;
    background-color: lightgray; 
    color: #bdc3c7;
}

gallery li a p {
    margin:0;
    padding:5%;
    font-size: 0.75em;
    color: black;
}


 body{
 background: #fff;
 color: #999;
 }
    
a{
    color:#6ab47b;
}
header{
    background: #6ab47b;
}
h1,h2{
    color: #fff;
}
nav{
    background:#599a58;
}
nav a, nav a:visited {
    color:#fff;
}

nav a.selected, nav a:hover{
    color: darkgreen;
}
